
.vs/Test/v16/.suo
.vs/Test/v16/Server/sqlite3/db.lock
.vs/Test/v16/Server/sqlite3/storage.ide
obj/Debug/Application.g.i.vb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MainWindow.g.i.vb
obj/Debug/Test.vbprojAssemblyReference.cache
obj/Debug/Test_MarkupCompile.i.cache
obj/Debug/Test_MarkupCompile.i.lref
My Project/AssemblyInfo.vb
My Project/MyExtensions/MyWpfExtension.vb
My Project/Resources.Designer.vb
My Project/Resources.resx
My Project/Settings.Designer.vb
My Project/Settings.settings
.vs/exam_test/v16/.suo
.vs/exam_test/v16/Server/sqlite3/db.lock
.vs/exam_test/v16/Server/sqlite3/storage.ide
obj/Debug/App.g.i.cs
obj/Debug/exam_test.csprojAssemblyReference.cache
obj/Debug/exam_test_MarkupCompile.i.cache
obj/Debug/exam_test_MarkupCompile.i.lref
obj/Debug/MainWindow.g.i.cs
Properties/AssemblyInfo.cs
Properties/Resources.Designer.cs
Properties/Resources.resx
Properties/Settings.Designer.cs
Properties/Settings.settings
.vs/exam_test/v16/Server/sqlite3/storage.ide-shm
.vs/exam_test/v16/Server/sqlite3/storage.ide-wal
obj/Debug/App.g.cs
obj/Debug/exam_test_MarkupCompile.cache
obj/Debug/exam_test_MarkupCompile.lref
obj/Debug/MainWindow.g.cs
