
.vs/Test/v16/.suo
.vs/Test/v16/Server/sqlite3/db.lock
.vs/Test/v16/Server/sqlite3/storage.ide
obj/Debug/Application.g.i.vb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MainWindow.g.i.vb
obj/Debug/Test.vbprojAssemblyReference.cache
obj/Debug/Test_MarkupCompile.i.cache
obj/Debug/Test_MarkupCompile.i.lref
My Project/AssemblyInfo.vb
My Project/MyExtensions/MyWpfExtension.vb
My Project/Resources.Designer.vb
My Project/Resources.resx
My Project/Settings.Designer.vb
My Project/Settings.settings
